<footer class="mt-40 bg-gradient-to-r gradient font-semibold">
    <div class="lg:m-auto mx-8 lg:w-2/3 py-24">
    <a href="/" class="text-4xl font-bold text-white border-none tracking-tighter">Navid Khan</a>

    <div class="text-white">
      <a href="https://twitter.com/0x962" class="text-white border-white">Twitter</a>, <a href="https://stackoverflow.com/users/9096103/naved-khan" class="text-white border-white">Stack Overflow</a>, <a href="https://www.linkedin.com/in/navid-khan-769b871a0/" class="text-white border-white">LinkedIn</a>, <a href="https://www.instagram.com/navidkh.an/" class="text-white border-white">Instagram</a>, <a href="http://github.com/0x962" class="text-white border-white">Github</a>, <a href="/" class="text-white border-white">$(this);</a>
    </div>
  </div>
</footer>
