<head>
  <!-- Primary Meta Tags -->
  <title>Navid Khan</title>
  <meta name="title" content="Navid Khan - Engineer, Entrepreneur">
  <meta name="description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://nvdk.co/">
  <meta property="og:title" content="Navid Khan - Engineer, Entrepreneur">
  <meta property="og:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://nvdk.co/">
  <meta property="twitter:title" content="Navid Khan - Engineer, Entrepreneur">
  <meta property="twitter:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
  <meta property="twitter:image" content="">
</head>

<header class="lg:flex items-center p-4">
  <div class="lg:flex-grow tracking-tighter">
    <a href="/" class="text-gradient gradient text-2xl font-extrabold">Navid Khan.</a>
  </div>

  <div class="lg:flex-grow lg:text-right text-md lg:text-xl">
    <ul class="tracking-tight nav-links font-bold">
      <li class="inline">
        <a href="/pages/about/" class="lg:px-6 pr-4 py-4">About</a>
      </li>
      <li class="inline">
        <a href="/pages/writing/" class="lg:px-6 pr-4 py-4">Writing</a>
      </li>
      <li class="inline">
        <a href="/pages/contact/" class="lg:px-6 pr-4 py-4">Contact</a>
      </li>
    </ul>
  </div>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" integrity="sha512-tN7Ec6zAFaVSG3TpNAKtk4DOHNpSwKHxxrsiw4GHKESGPs5njn/0sMCUMl2svV4wo4BK/rCP7juYz+zx+l6oeQ==" crossorigin="anonymous" />

  <script id="dsq-count-scr" src="//nvdkco.disqus.com/count.js" async></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
</header>
