<header class="lg:flex items-center p-4">
  <div class="lg:flex-grow tracking-tighter">
    <a href="/" class="text-gradient gradient text-2xl font-extrabold">Navid Khan.</a>
  </div>

  <div class="lg:flex-grow lg:text-right text-md lg:text-xl">
    <ul class="tracking-tight nav-links font-bold">
      <li class="inline">
        <a href="/pages/about/" class="lg:px-6 pr-4 py-4">About</a>
      </li>
      <li class="inline">
        <a href="/pages/writing/" class="lg:px-6 pr-4 py-4">Writing</a>
      </li>
      <li class="inline">
        <a href="/pages/contact/" class="lg:px-6 pr-4 py-4">Contact</a>
      </li>
    </ul>
  </div>
</header>
