<!-- Primary Meta Tags -->
<title>Navid Khan - Engineer, Entrepreneur</title>
<meta name="title" content="Navid Khan - Engineer, Entrepreneur">
<meta name="description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nvdk.co/">
<meta property="og:title" content="Navid Khan - Engineer, Entrepreneur">
<meta property="og:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nvdk.co/">
<meta property="twitter:title" content="Navid Khan - Engineer, Entrepreneur">
<meta property="twitter:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
<meta property="twitter:image" content="">

<main class="h-screen flex flex-col">
    <section class="flex flex-col flex-1">
        <div class="lg:w-2/3 mx-4 m-auto lg:m-auto">
            <div class="h-50 mt-10">
                <span class="text-gradient gradient text-6xl font-extrabold inline">Navid Khan</span><span class="hidden text-gradient gradient text-6xl font-extrabold inline-block dv-entry">.</span>
            </div>
            <p class="text-gray-700 black-not-black text-lg font-light leading-loose">
                <b>I build software for startups.</b> I am currently working with <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://www.crunchbase.com/organization/ekanek-networks" target="_blank">EkAnek Networks</a>, leading the development of <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://play.google.com/store/apps/details?id=in.foxy.live" target="_blank">Foxy Live</a>. I've founded two companies & consult with companies like <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://www.linkedin.com/company/fidelity-international/" target="_blank">Fidelity International</a>.
            </p>
            <div class="w-full flex flex-row">
                <div class="hidden md:flex w-1/2 xl:w-2/3"></div>
                <div class="mt-10 flex justify-end justify-between w-1/2 xl:w-1/2 tracking-tight flex-col lg:flex-row">
                  <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/pages/social">Social</a>
                    <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/pages/about">About</a>
                    <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/pages/writing">Writing</a>
                    <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/pages/contact">Contact</a>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $(document).ready(function() {
        window.setTimeout(function() {
            $('.dv-entry').removeClass('hidden');
            $('.dv-entry').addClass('animate__animated animate__bounce');
        }, 1000);
    })
</script>
