<section class="flex h-screen">
    <div class="lg:w-2/3 mx-4 m-auto lg:m-auto">
        <div class="h-50">
            <span class="text-gradient gradient text-6xl font-extrabold inline">Navid Khan</span><span class="hidden text-gradient gradient text-6xl font-extrabold inline-block dv-entry">.</span>
        </div>
        <p class="text-gray-700 black-not-black text-lg font-light leading-loose">
            <b>I build software for startups.</b> I am currently working with <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://www.crunchbase.com/organization/ekanek-networks" target="_blank">EkAnek Networks</a>, leading the development of <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://play.google.com/store/apps/details?id=in.foxy.live" target="_blank">Foxy Live</a>. I've founded two companies & consult with companies like <a class="border-solid border-b-2 border-b-gray-600 text-gray-600 font-semibold" href="https://www.linkedin.com/company/fidelity-international/" target="_blank">Fidelity International</a>.
        </p>
        <div class="w-full flex flex-row">
            <div class="hidden md:flex w-1/2 xl:w-2/3"></div>
            <div class="mt-10 flex justify-end justify-between w-1/2 xl:w-1/3 tracking-tight flex-col lg:flex-row">
                <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/about">About</a>
                <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/writing">Writing</a>
                <a class="text-black font-extrabold text-3xl cursor-pointer hover:text-gradient bg-gradient-to-r hover:from-indigo-600 hover:via-purple-500 hover:to-indigo-400 text-opacity-75" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</section>

<style>
    .gradient {
        <%= @gradient %>
    }
    .hover\:text-gradient:hover {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .text-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<script>
    $(document).ready(function() {
        window.setTimeout(function() {
            $('.dv-entry').removeClass('hidden');
            $('.dv-entry').addClass('animate__animated animate__bounce');
        }, 1000);
    })
</script>
