<!-- Primary Meta Tags -->
<title>Navid Khan - Engineer, Entrepreneur</title>
<meta name="title" content="Navid Khan - Engineer, Entrepreneur">
<meta name="description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://nvdk.co/">
<meta property="og:title" content="Navid Khan - Engineer, Entrepreneur">
<meta property="og:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://nvdk.co/">
<meta property="twitter:title" content="Navid Khan - Engineer, Entrepreneur">
<meta property="twitter:description" content="I build software for startups. I am currently working with EkAnek Networks, leading the development of Foxy Live. I've founded two companies & consult with companies like Fidelity International.">
<meta property="twitter:image" content="">

<main class="flex flex-col">
    <div class="lg:w-2/3 mx-4 m-auto lg:m-auto pt-10">
        <%= react_component("CollectionsRail") %>
    </div>
</main>