<%= render 'pages/header' %>

<section>
  <article class="mx-4 lg:m-auto lg:w-2/3">
    <h1 class="text-5xl lg:text-6xl my-8 text-black font-extrabold tracking-tighter italic leading-tight lg:-mx-12">Writing</h1>
  </article>
</section>

<%= render 'pages/footer' %>
